.container{
  display:flex;
  justify-content:space-around;
  margin-top:50px;
}

.box{
  border-left:4px solid green;
  padding:20px;
  width:250px;
}

h1{
  font-size:32px;
}

h3{
  margin-bottom:5px;
}

h4{
  font-weight:normal;
  margin-top:0;
}

p{
  margin-top:0;
}