<h2>Enrollment Form</h2>

<form #enrollForm="ngForm" (ngSubmit)="onSubmit(enrollForm)">

  <p>
    Name:
    <input
      type="text"
      name="studentName"
      [(ngModel)]="studentName"
      required
      minlength="3"
      #nameCtrl="ngModel">

    <br>

    <span *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">
      Name is required
    </span>

    <span *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']">
      Name must be at least 3 characters
    </span>
  </p>

  <p>
    Email:
    <input
      type="email"
      name="studentEmail"
      [(ngModel)]="studentEmail"
      required
      email
      #emailCtrl="ngModel">

    <br>

    <span *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">
      Email is required
    </span>

    <span *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']">
      Invalid Email
    </span>
  </p>

  <p>
    Course ID:
    <input
      type="number"
      name="courseId"
      [(ngModel)]="courseId"
      required
      #courseCtrl="ngModel">

    <br>

    <span *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']">
      Course ID is required
    </span>
  </p>

  <p>
    Semester:

    <select
      name="preferredSemester"
      [(ngModel)]="preferredSemester"
      required>

      <option value="">Select</option>
      <option>Odd</option>
      <option>Even</option>

    </select>
  </p>

  <p>
    <input
      type="checkbox"
      name="agreeToTerms"
      [(ngModel)]="agreeToTerms"
      required>

    I agree to Terms
  </p>

  <button type="submit" [disabled]="enrollForm.invalid">
    Submit
  </button>

  <button type="button" (click)="enrollForm.resetForm()">
    Reset
  </button>

</form>

<br>

<div *ngIf="submitted">
  Enrollment request submitted successfully!
</div>
